/*Footer*/

footer {
    background-color: $color-negro;
    color: $color-blanco;
    border-top: 1px solid black;
    text-align: center;
}

div, .redesSociales {
    padding: 0.3rem;
    color: $color-blanco;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    color: $color-blanco;
}

h4 {
    font-size: 0.7rem;
    color: $color-blanco;
}